* {
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
    background: #081b29;
    color: white;

}


.form-container {
	 width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: gray;
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-box {
	width: 300px;
	height: 500px;
	background: rgba(0,0,100,0.8);
	padding:20px 40px ;
	border-radius: 8px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner-box {
	position: relative;
	max-width: 100%;
	
}

.form-box h1 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	color: red;
}
.form-group {
	margin-bottom: 10px;
	width: 100%;
}
.form-box input {
	width: 100%;
    background: transparent;
    border: 1px solid #ccc;
    margin: 6px 0;
   	padding: 12px 60px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px  rgba(255, 255, 255, 1.0);
    outline: none;
    text-align: center;
    color: #fff;
}
.form-box input::placeholder {
	color: white;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;

}

.btn button {
	position: relative;
	background: transparent;
	border-radius: 30px;
	padding: 10px 20px;
	margin-top: 10px;
	margin-bottom: 50px;
	cursor: pointer;
	border-color: #fff;
	box-shadow: 0 2px 6px  rgba(255, 255, 255, 1.0);
	color: red;
	width: 100%;
	
}



.btn a button{
	color: red;
	font-weight: 600;
	text-align: center;
	
}

.login-btn button {
	background: transparent;
	width: 100%;
	border-radius: 30px;
	padding: 10px 0;
	cursor: pointer;
	color: white;
	border-color: #fff;
	 box-shadow: 0 2px 6px  rgba(255, 255, 255, 1.0);
	 margin-bottom: 50px;
}

.toggle-btn {
	position: absolute;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top:3.3rem;
	right: 1rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #666;
	transform: translateY(-50%);
}

.toggle-btn {
		position: absolute;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top:3.3rem;
	right: 1rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #666;
	transform: translateY(-50%);
}

 .good {
	border:3px solid #28a745;
}

.bad {
	border:3px solid #dc3545;
}
#emailMessage {
	font-size: 10px;
}
#message {
	font-size: 10px;
}
#messages {
	font-size: 10px;
}
#confirmMessage {
	font-size: 10px;
}

.hidden {
	display: noney;
}

.valid {
	border-color: #28a745;
	background-color: #f8fff9;
}

.invalid {
	border-color: #dc3545;
	background-color: #fff8f8;
}

.empty {
	border: 2px solid #ccc;
}
.input-valid {
	border: 2px solid green;
	background-color: #f8fff9;
}
.input-invalid {
	border: 2px solid red;
	background-color: #fff8f8;
}
.message-bad {
	color: red;
}
.message-good {
	color: green;
}